h1{
    color: rgb(255, 251, 251);

}

h4{
    font-size:larger;
    text-decoration: underline;
}

h5{
    font-size:small;
    
}

h6{
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

h7{
    font-size: small;

}








